/* できること */
#skills {
    background-color: #34B9FF;
    color: white;
}

.skill-all {
    display: flex;
    justify-content: space-between;
    width: 78vw;
    margin: 0 auto;
    padding: 0 3vw 0 0;
}

.skill-title,
.skill-title2 {
    font-size: 3vw;
    font-weight: bold;
    margin: 0;
}

.skill-subtitle {
    margin: 0 0 0 1.5vw;
    font-size: 2vw;
    font-weight: 600;
}

.skill-intro {
    margin: 1vw 0 3vw 1vw;
    height: 7vw;
    width: 40vw;
}

.skill-intro2 {
    margin: 0.8vw 0 3vw 1vw;
    height: 7vw;
    width: 20vw;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    margin: 0 0 0 0.5vw;
}

.skill-container2 {
    display: block;
}

.skill-item {
    display: block;
    margin: 0 auto 3vw;
    padding: 0.8vw;
    height: 10vw;
    width: 16vw;
    background-color: white;
    color: #34B9FF;
}

.item-empty {
    visibility: hidden;
}

.skill-item p {
    font-size: 1.8vw;
    font-weight: 800;
}

.skill-smallicon {
    display: block;
    margin: 0.3vw auto 0;
    height: 75%;
    fill: #34B9FF;
}

.skill-middleicon {
    display: block;
    margin: 0.6vw auto 0;
    height: 70%;
    fill: #34B9FF;
}

.skill-largeicon {
    display: block;
    margin: 0.8vw auto 0;
    height: 66%;
    fill: #34B9FF;
}

.line01 {
    display: block;
    margin: 5vw 0 0;
    background-color: white;
    height: 55vw;
    width: 4px;
}


/* スマホ・タブレット */
@media screen and (max-width: 960px) and (orientation: portrait) {
    .skill-all {
        display: block;
        justify-content: left;
        width: 80vw;
        padding: 0;
    }

    .skill-title {
        font-size: 6vw;
        font-weight: bold;
        margin: 4vw 0 0;
    }

    .skill-title2 {
        font-size: 6vw;
        font-weight: bold;
        margin: 8vw 0 0;
    }

    .skill-subtitle {
        margin: 0 0 0 2vw;
        font-size: 3vw;
        font-weight: 600;
    }

    .skill-intro,
    .skill-intro2 {
        margin: 3vw 0 5vw 1vw;
        height: auto;
        width: 100%;
    }

    .skill-container {
        width: 100%;
        margin: 0 0 2vw;
    }

    .skill-container2 {
        display: flex;
    }

    .skill-item {
        height: 20vw;
        width: 30vw;
    }

    .skill-item p {
        font-size: 3.5vw;
    }

    .skill-smallicon {
        margin: 0.5vw auto 0;
    }

    .skill-middleicon {
        margin: 1.2vw auto 1vw;
    }

    .skill-largeicon {
        margin: 1.5vw auto 0;
    }

    .line01 {
        display: none;
    }
}